h1 {
    color: #2b2b2b;
    font-size: 42px;
    line-height: 1.3em;
    margin: 0 0 20px;
    font-weight: 900;
    text-transform: uppercase;
}
h1, h3, h4, h5, h6 {
    font-weight: normal;
}
.content-wrapper {
    margin-bottom: 50px;
    margin-top: 150px;
}
.title {
    text-align: center;
    margin: 0 0 60px;
}
.title h1 {
    font-size: 30px;
    margin: 0;
    line-height: 30px;
    letter-spacing: 1px;
}
.title a{
	text-decoration: none;
	 color: #45d0c6;
	 font-size: 15px;
}
.title a:hover{
	 color: #45d0c6;
	 font-size: 16px;
}
.gallery-item {
    margin-bottom: 50px;
}
.gallery-item a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}
img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
}
img:hover{
	transform: scale(0.8);
	box-shadow: 0px 0px 40px #ccc;
	outline: 2px solid;
    outline-color: #666666;
}

